img {
    width: 100px;
    height: 100px;
    background-color: #e84610;

    animation-iteration-count: infinite;
    animation-name: rotate;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}